  * {
      transition: all 0.3s;
    }

    html, body {
      height: 100%;
      margin: 0;
    }

    body {
      background:linear-gradient(65deg, #000000, #0b0033, #26004d, #4b007a, #22003c);
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: 'Georgia', serif;
      font-size: 120%;
    }

    h1{
      color:black;
    }

    .title-rush {
      font-family: 'Georgia', serif;      /* Fuente con más personalidad */
      font-size: 2rem;                  /* Tamaño más grande */
      color: #fff;                        /* Color gris oscuro */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Sombra sutil */
      text-align: center;                 /* Centrado */
      margin: 30px 0;   
    }
    
    #particles-js {
      position: absolute;  /* O absolute si es necesario */
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;  /* Asegúrate de que esté detrás de otros elementos */
    }
  

    .contenedor {
      width: 98vw;
      height: 97vh;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .encabezado {
      position: relative;
      min-width: 300px;
      width: 70%;
      max-width: 600px;
      padding: 10px;
      border-radius: 10px;
      color: white;
    }

    .categoria {
      color:white;
      text-align: left;
    }

    .pregunta {
      padding: 10px;
    }

    .imagen {
      object-fit: cover;
      height: 0px;
      width: 0px;
    }

    .btn {
      background:white;
      width: 60%;
      max-width: 550px;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
      border-radius: 5px;
    }

    .btn:hover {
      transform: scale(1.05);

    }
    
    .numero{
      position: absolute;
      opacity:0.3;
      top: 10px;
      right: 10px;
    }
    
    .puntaje{
      padding:10px;
      color:white;
    }